<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Bitcoin</title>
  <include page="/includes/bootstrap.jsp"></include>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="<%=request.getContextPath()%>/EmployeeServlet">Sistema HR</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="<%=request.getContextPath()%>/EmployeeServlet">Empleados</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="">Billeteras</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Cambio</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" style="color: #0d6efd"
             href=""> Buscar Divisas </a>
        </li>

        <li class="nav-item">
          <a class="nav-link"
             style="color: darkred;"> Iniciar Sesión
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: #0d6efd"
             href="<%=request.getContextPath()%>/LoginServlet?accion=logout">Cerrar Sesión</a>
        </li>

      </ul>
      <div class="d-flex">

      </div>
    </div>
  </div>
</nav>


<h3> La forma más popular del mundo para comprar, vender e intercambiar criptomoneda</h3>


<p>1) Binance Coin (BNB)
  BNB se lanzó a través de una oferta inicial de monedas en 2017, 11 días antes de que el exchange de criptomonedas Binance se pusiera en marcha. Originalmente se emitió como un token ERC-20 que se ejecutaba en la red de Ethereum, con un suministro total limitado a 200 millones de monedas y 100 millones de BNB ofrecidos en la ICO. El precio actual es de $450 cada uno
  BNB tuvo una bajada del 60% en las ultimas 24 horas!
  2) Cardano (ADA)
  Cardano es una plataforma de blockchain de prueba de participación cuyo objetivo es permitir que los usuarios que sean "pioneros, innovadores y visionarios" traigan consigo un cambio global positivo a la red. Este proyecto de código abierto también pretende “redistribuir el poder de las estructuras contables entre los individuos marginados". El precio actual es de $2.52 cada uno
  ADA tuvo una subida del 30% en las ultimas 24 horas!
</p>


</body>
</html>