<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bitcoin</title>
  <include page="/includes/bootstrap.jsp"></include>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="<%=request.getContextPath()%>/EmployeeServlet">Sistema HR</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="<%=request.getContextPath()%>/EmployeeServlet">Empleados</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="">Billeteras</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Cambio</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" style="color: #0d6efd"
             href=""> Buscar Divisas </a>
        </li>

        <li class="nav-item">
          <a class="nav-link"
             style="color: darkred;"> Iniciar Sesión
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: #0d6efd"
             href="<%=request.getContextPath()%>/LoginServlet?accion=logout">Cerrar Sesión</a>
        </li>

      </ul>
      <div class="d-flex">

      </div>
    </div>
  </div>
</nav>

 La forma más popular del mundo para comprar, vender e intercambiar criptomoneda




</body>
</html>